<%- include("partials/header") -%>

<div class="container">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block align-self-center">
            <div class="card bg-dark text-white p-3">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">
                        <%= _.truncate(homeContent, {"length": 400}) %>
                    </p>
                    <a href="/about" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>

        <div class="col-xxl-9 col-xl-8 col-lg-7">
            <div class="card bg-dark text-white p-3 h-100">
                <div class="card-body">
                    <% posts.forEach(function(post) { %>
                        <h5 class="card-title">
                            <%= post.title %>
                        </h5>
                        <p class="card-text">
                        <%= _.truncate(post.content, {"length": 100}) %>
                        </p>
                        <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
                        <br><br>
                    <% }); %>
                </div>  
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer") -%>